@import url(https://fonts.googleapis.com/css?family=Oswald);
    
html {
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;

}
@font-face {
    font-family: 'CustomFont'; /*a name to be used later*/



}
h2{
	font-family: 'Oswald';
	text-align: center;
	opacity: .50;
	background-color:#fff;
}
p{
	font-family: 'Oswald';
	text-align: center;
	opacity: .50;
	background-color:#fff;
}
#seat-wrapper {
	margin: 0 auto;
	padding-top: 15px;
	width: 65%;
}
#seat-wrapper .available, #seat-wrapper .unavailable {
	height: 45px;
	line-height: 45px;
	float: left;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	width: 23%;
	margin: 1%;
}
/*.available {
	cursor: pointer;
	opacity: .50;
	background-color:#fff;
	
}
.available:hover { 
	background-color:#ddd;
	opacity: 1.0;
	
}*/
#form {
	opacity: .50;
	 vertical-align: bottom;
	 background-color: #ddd;
     bottom: 5px;
     text-align: center;
}

body{

	background-color:#000; 
}
